// Colors
$color-black: #000;

$color-primary: #8BC53F;

$color-white: #fff;

$color-woodward: #ecd714;

$color-blue: #009cdb;

// Media query variables
$bp-1600: 100em;     // 1600px 
$bp-1400: 87.5em;    // 1400px
$bp-1300: 81.25em;   // 1300px
$bp-1200: 75rem;    // 1200px
$bp-1100: 68.75em;  // 1100px
$bp-1060: 66.25em;  // 1060px;
$bp-1000: 62.5em;   // 1000px
$bp-900: 56.25em; // 900px
$bp-825: 51.5625em; // 825px
$bp-700: 43.75em;   // 700px
$bp-600: 37.5em;   // 600px
$bp-500: 31.5em;   // 500px