.popup {
    &__farm {
        margin-bottom: 7.5rem;

        & p {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
            font-size: 2.15rem;
        }
    
        &-list {
            font-size: 2.15rem;
            margin-left: 2.75rem;
    
            &-item {
                line-height: 1.4;
                font-weight: 300;
                margin-bottom: .5rem;
            }
        }
    }

    &__icon--calendar {
        height: 3rem;
        width: 3rem;
        fill: $color-primary;
        margin-right: 2rem;
        margin-bottom: .5rem;
    }

    &__hours {
        width: 45%;
        margin-top: 10rem;
        padding: 2rem 1rem;
        border-top: 2px solid $color-primary;
        border-bottom: 2px solid $color-primary;

        &--hours {
            font-size: 2rem;
            font-weight: 400;
            color: $color-primary;
            text-transform: uppercase;
        }

        & li {
            margin: 1rem 0 1rem 2.75rem;
            font-size: 2rem;
        }
    }
}