.booking {
    grid-column: full-start / full-end;
    padding: 5rem 12.5rem;
}

.events {
    padding: 0 12.8rem;
    margin-top: 10rem;
    grid-column: 1 / -1;

    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;

    @media only screen and (max-width: $bp-1060) { padding: 0 4rem; }
}


